
<%= form_for @workout, :method => :get do |f| %>
	<p>
		Good morning!
	</p>
	<p>
		Please enter the amount of time you would like for each category.
	</p>
	<br>
	<p>
		<%= f.label :cardio %>
		<%= f.text_field :cardio %>
	</p>
	<p>
		<%= f.label :strength, "Strength Training" %>
		<%= f.text_field :strength %>
	</p>
	<p>
		<%= f.label :stretch, "Stretching" %>
		<%= f.text_field :stretch %>
	</p>
	<p>
		<%= f.submit "Generate" %>
	</p>

<% end %>
