<p><h4>Here is your workout. Enjoy!</h4></p>
<br>
<div>
	<% if @workout.cardio == 0 %>
		No cardio for you today. Have a nice break. :)
	<% else %>
		<ul>
			<li>
				<p><%= @workout.cardio %> minutes!</p>
				<%= image_tag(@workout.cardios.image_url, :width => '150') %>
				<span class="ex_name">
					<%= link_to @workout.cardios.name,
					:controller => 'exes', :action => 'show', :id => @workout.cardios.id %>
				</span>
			</li>
		</ul>
	<% end %>
</div>
<div>
	<ul>
		<p>One minute of each!</p>
		<% @workout.strengths.each do |ex| %>
			<li>
				<%= image_tag(ex.image_url, :width => '150') %>
				<span class="ex_name">
					<%= link_to ex.name,
						:controller => 'exes', :action => 'show', :id => ex.id %>
				</span>
			</li>
		<% end %>
	</ul>
</div>
<div>
	<ul>
		<% @workout.stretches.each do |ex| %>
			<li>
				<%= image_tag(ex.image_url, :width => '150') %>
				<span class="ex_name">
					<%= link_to ex.name,
						:controller => 'exes', :action => 'show', :id => ex.id %>
				</span>
			</li>
		<% end %>
	</ul>
</div>
<div>
	<% if @workout.cardio > 0 %>
		<ul>
			<li>
				<p><%= @workout.cardio %> minutes!</p>
				<%= image_tag(@workout.cardios.image_url, :width => '150') %>
				<span class="ex_name">
					<%= link_to @workout.cardios.name,
						:controller => 'exes', :action => 'show', :id => @workout.cardios.id %>
				</span>
			</li>
		</ul>
	<% end %>
	This workout sucks. <%= link_to "Give me a new one.", workouts_path(:workout => params[:workout]), :method => 'get' %>
</div>
