<p><h4>Here is your workout. Enjoy!</h4></p>
<div>
	<% if @workout.cardio == 0 %>
		No cardio for you today. Have a nice break. :)
	<% else %>
		<ul>
			<li>
				<%= image_tag(@workout.cardios.image_url, :width => '150') %>
				<%= link_to @workout.cardios.name,
				:controller => 'exes', :action => 'show', :id => @workout.cardios.id %>
			</li>
		</ul>
	<% end %>
</div>
<div>
<p>One minute of each!</p>
	<ul>
		<% @workout.strengths.each do |ex| %>
			<li>
				<%= image_tag(ex.image_url, :width => '150') %>
				<%= link_to ex.name,
					:controller => 'exes', :action => 'show', :id => ex.id %>
			</li>
		<% end %>
	</ul>
</div>
<div>
	<ul>
		<% @workout.stretches.each do |ex| %>
			<li>
				<%= image_tag(ex.image_url, :width => '150') %>
				<%= link_to ex.name,
					:controller => 'exes', :action => 'show', :id => ex.id %>
			</li>
		<% end %>
	</ul>
</div>
<div>
	<% if @workout.cardio > 0 %>
		<ul>
			<li>
				<%= image_tag(@workout.cardios.image_url, :width => '150') %>
				<%= link_to @workout.cardios.name,
					:controller => 'exes', :action => 'show', :id => @workout.cardios.id %>
			</li>
		</ul>
	<% end %>
</div>
