<p><h4>Here is your workout. Enjoy!</h4></p>
<br>

<div>
<% if current_user.has_exes(:cardio) %>
	<ul>
			<% @workout.cardios.each do |ex| %>
			<li>
			<%= image_tag(ex.image_url, :width => '150') %>
			<span class="ex_name">
			<%= link_to ex.name,
				:controller => 'exes', :action => 'show', :id => ex.id %>
			</span>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>You don't have any cardio exercises yet.
		 You can add some <%= link_to 'here', exes_path %></p>
<% end %>
</div>

<div>
<% if current_user.has_exes(:strength) %>
	<ul>
		<% @workout.strengths.each do |ex| %>
			<li>
			<%= image_tag(ex.image_url, :width => '150') %>
			<span class="ex_name">
			<%= link_to ex.name,
				:controller => 'exes', :action => 'show', :id => ex.id %>
			</span>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>You don't have any strength exercises yet. You can add some <%= link_to 'here', exes_path %></p>
<% end %>
</div>

<div>
<% if current_user.has_exes(:stretch) %>
	<ul>
		<% @workout.stretches.each do |ex| %>
			<li>
			<%= image_tag(ex.image_url, :width => '150') %>
			<span class="ex_name">
			<%= link_to ex.name,
				:controller => 'exes', :action => 'show', :id => ex.id %>
			</span>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>You don't have any stretching exercises yet. You can add some <%= link_to 'here', exes_path %></p>
<% end %>
</div>

<div>
<% if current_user.has_exes(:cardio) %>
	<ul>
			<% @workout.cardios.each do |ex| %>
			<li>
			<%= image_tag(ex.image_url, :width => '150') %>
			<span class="ex_name">
			<%= link_to ex.name,
				:controller => 'exes', :action => 'show', :id => ex.id %>
			</span>
			</li>
		<% end %>
	</ul>
<% end %>
</div>


<div>
	This workout sucks. <%= link_to "Give me a new one.", workouts_path(:workout => params[:workout]), :method => 'get' %>
</div>
