<p>Add an exercise</p>
<%= form_for [(@ex)], :html => { :multipart => true } do |f| %>

	<p>
		<%= f.label :name, "Name (required)" %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :category, "Category (required)" %>
		<%= f.radio_button(:category, 'cardio', :id => 'cardio') %> Cardio
		<%= f.radio_button(:category, 'strength', :id => 'strength') %> Strength
		<%= f.radio_button(:category, 'stretch', :id => 'stretch') %> Stretch
	</p>
<br>
	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.label :asset, "You can upload a photo if you'd like"%>
		<%= f.file_field :asset %>
	</p>

	<p>
		<%= f.label :image_url, "Or you can add the url of a photo" %>
		<%= f.text_field :image_url %>
	</p>

	<p>
		<%= f.label :url, 'You can add the url of a website' %>
		<%= f.text_field :url %>
	</p>

	<p>
		<%= f.submit "Save" %>
	</p>

<% end %>



